<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit listing</title>
</head>
<body>
    <h3>Edit the listing</h3>
    <form action="/listings/<%=listing._id %>/edit?_method=PUT" method="post">
        <input type="text" name="listing[title]" value="<%=listing.title %>">
        <textarea name="listing[description]" ><%=listing.description %></textarea>
        <input type="number" name="listing[price]"value="<%=listing.price %>">
        <input type="text" name="listing[location]" value="<%=listing.location %>">
        <input type="text" name="listing[country]"value="<%=listing.country %>">
        <button>Edit</button>
</body>
</html> -->

<% layout("layouts/boilerplate") %>
<h3>Edit Listing</h3>
<div class="row">
<div class="col col-8 offset-2">
<form action="/listings/<%=listing._id %>/edit?_method=PUT" method="post" nonvalidate class="needs-validation" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" name="listing[title]" placeholder="enter listing name" class="form-control"  value="<%=listing.title %>" required>
    </div>

    <div class="mb-3">
        Original Listing Image <br>
        <img src="<%=originalImageUrl %>" class="img-thumbnail" style="max-height: 250px; max-width: 300px;" alt="Original Listing Image">
    </div>

    <div class="mb-3">
        <label for="image" class="form-label">Upload New Image</label>
        <input type="file" name="listing[image]" placeholder="enter image url" class="form-control" value="<%=listing.image.url %>"  >
    </div>
    
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea  name="listing[description]" placeholder="enter listing description" class="form-control"  required><%=listing.description %></textarea>
    </div>

    <div class="row">
        <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input type="number" name="listing[price]" placeholder="enter listing price"  class="form-control" value="<%=listing.price %>"  required>
        </div>
        <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input type="text" name="listing[country]" placeholder="enter listing country" class="form-control" value="<%=listing.country %>"  required>
        
        </div>
    </div>
   
    <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input type="text" name="listing[location]" placeholder="enter listing location" class="form-control"  value="<%=listing.location %>"  required>
    </div>
    
    <button class="btn btn-dark">Edit</button>
</form>
</div>
</div>
<script src="/js/script.js"></script>